<form id="add-form" class="form-horizontal" role="form" data-toggle="validator" method="POST" action="">
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">自动划:</label>
        <div class="col-xs-12 col-sm-8">
            <div class="radio">
                {foreach name="auto" item="vo"}
                <label for="row[auto]-{$key}"><input id="row[auto]-{$key}" name="row[auto]" type="radio" value="{$key}" {in name="key" value="$row.auto"}checked{/in} /> {$vo}</label>
                {/foreach}
            </div>
        </div>
    </div>
    <div class="form-group">
        <label for="c-auto_money" class="control-label col-xs-12 col-sm-2">金额以上:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-auto_money" class="form-control" name="row[auto_money]" type="number"   data-rule="required"  value="{$row.auto_money|htmlentities}">
        </div>
    </div>
    <div class="form-group layer-footer">
        <label class="control-label col-xs-12 col-sm-2"></label>
        <div class="col-xs-12 col-sm-8">
            <button type="submit" class="btn btn-success btn-embossed">{:__('OK')}</button>
            <button type="reset" class="btn btn-default btn-embossed">{:__('Reset')}</button>
        </div>
    </div>
</form>